body {
    font-family: Montserrat, sans-serif;
    background-color: #FAF9F8;
    font-weight: 400;
    padding-top: 30px;
}

/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
} */
.abeezee-regular {
    font-family: ABeeZee, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.abeezee-regular-italic {
    font-family: ABeeZee, sans-serif;
    font-weight: 400;
    font-style: italic;
}


.name {
    text-align: right;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}




@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}


#main {
    position: relative;
    z-index: 10;
}

#page1 {

    width: 100%;
    background-color: #FFF7F2;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 0vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}


#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.ok {
    background-color: #FFF7F2;
}

.card-background {
    background-image: url('../img/background.jpg');
    background-size: cover;


}

.card {
    /* padding: 60px; */
    /* padding-left: 130px; */
    background-color: #EEEFF1;
}

.p-60px {
    padding: 60px;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 600;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 15px;
    overflow: hidden;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;

}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #C4702D;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}


#nav-part2 h4 a {
    color: #C4702D;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #FFF7F2;
}

.speech,
.boy {
    background-color: color-mix(in xyz, color percentage, color percentage);
}

.card-body p {
    color: #FFF;
    font-family: ABeeZee;
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: .9rem;
    font-weight: 400;
}


.elementskit-info-box-title {
    padding: 0 0 0 0;
    color: #FFF;
    font-size: 28px;
}

h2 {
    /* margin-block-start: .5rem;
    margin-block-end: 1rem; */
    color: #000000B3;
    font-family: "Montserrat", Sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    /* margin-bottom: 30px; */
    line-height: 1;
}

h3 {
    margin-block-start: .5rem;
    margin-block-end: 1rem;
    font-family: "Montserrat", Sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h4 {
    font-family: "Montserrat", Sans-serif;
}

.st {
    margin-top: 50px;
    text-align: center;
}

.MD-speech {
    background-image: url('../img/background-pink-01-1.jpg');
    background-size: contain;
    font-family: ABeeZee, Sans-serif;
    font-size: 16px;
    font-style: ABeeZee;
    text-align: center;
    color: #656565;

}


.Md-speech {
    /* margin-block-start: 0; */
    /* margin-block-end: .9rem;
    margin-bottom: 35px; */
    /* margin-top: 50px; */
    font-family: "ABeeZee", Sans-serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;

}

/* .icon-color {
    text-color: #C4702D;
} */

.story {
    background-color: #C4702D;
    height: 200px;
    width: 400px;
    padding: 10px;
    margin: 30px -30px 30px 0px;
}

.story:hover {
    height: 220px;
    width: 420px;
    margin: 50px 50px 50px 50px;
    background-color: cadetblue;
}

.story2 {
    background-color: #FFF7F2;
    height: 200px;
    width: 400px;
    padding: 10px;
    margin: 30px -30px 30px 0px;
}

.story-block {
    background-image: url('../img/background.jpg');
    display: flex;
    z-index: 4;
    /* margin-left: 30px; */
}

.branches {
    background-color: #FFF7F2;
    height: 100%;
    width: 100%;
}

.elementor-10 .elementor-element.elementor-element-4c4d165 .elementor-heading-title {
    color: #000000B3;
    font-family: Montserrat, Sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    /* margin-block-start: .5rem;
    margin-block-end: 1rem; */
}

.map-speech {
    border: 2px;
    border-color: #FFF7F2;
    text-align: center;
    color: #252525;
    font-family: Sans-serif;
    font-weight: 600;
}

.map-side {
    height: 200px;
    width: 205px;
    background-color: #FFFFFF;
    display: flex;
}

.map-side:hover {
    background-color: cadetblue;
    height: 220px;
    width: 225px;
}

.mt-8 {
    margin-top: 50px;
}

.footer {
    height: 400px;
    width: 100%;
    background-color: #C4702D;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/Footer.png');
}

.footer-head {
    text-decoration: none;
}

.mw-500 {
    max-height: 500px;
}

.company-profile span {
    color: var(--e-global-color-primary);
    font-family: "Montserrat", Sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.company-profile h2 {
    color: var(--e-global-color-primary);
    font-family: "Montserrat", Sans-serif;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 2.4px;
}

.company-hr-line {
    margin: 0 auto;
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.microfinance p {
    color: #FFFFFFB0;
    font-family: "ABeeZee", Sans-serif;
    font-size: 18px;
    text-align: center;
}

.microfinance h3 {
    padding: 0 0 0 0;
    color: #FFF;
    font-size: 32px;
}

.elementor-widget-container {
    margin: 10px 0 40px 0;
    padding: .5em 0em .5em 2em;
    background-color: #FFF0;
    border-style: double;
    border-width: 0 0 0 8px;
    border-color: #C4702D;
}

.carousel-item h1 {
    font-family: "EB Garamond";
    font-style: italic;
    color: rgb(196, 88, 0);
    font-weight: 700;
    font-size: 4vw; /* Responsive font size based on viewport width */
    text-align: left;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-50%); /* Center vertically */
    width: 100%; /* Full width */
    white-space: nowrap;
    overflow: hidden;
    animation: animate 2s linear forwards;
}

@keyframes animate {
    0% {
        top: 40%;
        display: none;
    }

    100% {
        top: 30%;
        display: block;
    }
}

.elementskit-border-hr {
    background-color: #C4702D;
    width: 40px;
    height: 2px;
    margin: 0 0 20px 0;
    display: inline-block;
}

.elementskit-profile-info {
    text-align: center;
    display: block;
}

.elementskit-author-name {
    font-size: 32px;
    margin-bottom: 0;
    display: block;
    /* font-size: 18px; */
    font-weight: 700;
    color: #000;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.elementskit-author-des {
    font-size: 24px;
    font-weight: 700;
    color: rgba(0, 0, 0, .5);
    transition: all .4s ease;
}


.last {
    background-color: black;
    height: 200px;
    width: 100%;
    display: flexbox;
    text-align: center
}

.text {
    display: flexbox;
    text-align: center;
    justify-items: center;
}

.icon2 {
    text-align: right;
    margin: 0px 80px 0px 0px;
    padding-top: 20px;
}

.bi {
    margin: 8px;
}

.card-video {
    background-image: url('../img/background-pink-01-1.jpg');
    padding: 20px 225px 20px 190px;
}

.card-title {
    margin-left: 60px;
}

.video {
    background-image: url('../img/background-pink-01-1.jpg');
    padding: 20px;
}

/* careers css */

/* swiper */
.swiper {
    background-image: url('../img/background.jpg');
    width: 100%;
    height: auto;

}

.swiper-slide {
    margin-bottom: 100px;
    margin-left: 0px;

    text-align: center;
    font-size: 18px;
    background: #e0dede;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.swiper2 {
    background-image: url('../img/background-pink-01-1.jpg');
    width: 100%;
    height: auto;
}

#navbarSupportedContent ul li {
    padding: 7px 10px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 600;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 15px;
    overflow: hidden;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
}

#navbarSupportedContent ul li a {
    color: #C4702D;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#navbarSupportedContent ul li:hover a {
    color: #FFF7F2;
}

#navbarSupportedContent ul li::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #C4702D;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#navbarSupportedContent ul li:hover::after {
    bottom: 0;
    border-radius: 0;
}

.navbar-nav .nav-item {
    margin-right: 15px;
    /* Adjust the value as needed */
}

.navbar {
    background-color: #f8f9fa;
    opacity: 1;
}